body {
  margin: 60px auto;
}
nav ul, footer ul {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  list-style: none;
  font-weight:bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
nav ul {
  font-size: 1.2em;
  width: 50%;
  float: right;
  text-align: right;
}
#K a {
  text-align: left;
  font-size: 1.2em;
  color:#03A78E;
  float: left;
  border: none;
  margin-top: 20px
}
a {
  text-decoration: none;
  color: #674172;
  font-weight: bold;
}
nav a {
  border-bottom: 7px solid #E02C3C;
  padding-bottom: 1px;
}
a:hover {
  background-color: red;
  color: white;
}
h1 {
  font-size: 3em;
  font-family: 'Passion One', cursive;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
  color:#6741723;
}  
footer {
    border-top: 3px solid #03A78E;
    font-size: .8em;
    margin-top: 20px;
    float: bottom;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li {
  list-style: none;
}
.blurb {
  margin-bottom: 20px;
}
h1 {
  margin-top: 20px
} 
.intro_paragraph {
  width: 70%;
  font-size: 1.4em;
}    
.container p {
  margin: 0px;
}
nav {
  height: 100px;
  margin: 5%;
}  
.portfolio_box {
  height: 500px;
  width: 650px;
  background-color: #FE664E;
  float: left;
  margin-right: none;
  margin-bottom: 30px;
}
.description_box {
  height: 300px;
  width: 300px;
  background-color: #336E7B;
  float: left;
  margin-top: 40px;
}
.underline {
  height: 20px;
  width: 40px;
  background-color: black;
  float: right;
}
p.description_text {
  color: white;
  text-align: center;
}
img.cmf {
  width: 570px;
  padding: 25px;
}
.wrapper {
  margin: 5%;
}
